.containerTop {
    /* background-color: gray; */
    display: flex;
    flex-direction: row;
  }

  .title{
    font-size: 35px;
    color: var(--color-text);
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    line-height: 1.5;
  }
  
  .line {
    width: 50%;
    height: 0.2px;
    margin-top: 30px;
    color: var(--color-text);
  }
  
  .containerTop p {
    padding: 5px 20px;
    border: 1px solid #fff;
    white-space: nowrap;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    color: var(--color-text);
    margin: 15px 0px;
  }

  .notices{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
  }

  .notices table{
    /* background-color: darkviolet; */
    margin: 2% 5%;
    border: 2px solid black;
  }
/* 
  .notices table thead{
    background-color: red;
    padding: 15px;
  } */

  /* .notices thead tr{
    background-color: lightgreen;
  } */

  .notices thead tr th{
    border: 2px solid black;
    padding: 5px;
    margin: 0px;
    font-size: 32px;
    font-weight: 800;
  }

  .notices td{
    background-color: var(--color-bg);
    padding: 15px;
    font-size: 22px;
    border: 2px solid black;
  }
  