@import '../../vars.css';

.container{
    /* background-color: green; */
    font-family: "Outfit",Arial, Helvetica, sans-serif;
}

.aboutMinistry{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.aboutMinistry p{
    padding: 10px 20px;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    margin-top: 10px;
}

.line{
    color: var(--color-secondary);
    width: 50%;
    height: 0.2px;
    background-color: var(--color-secondary);
    margin-top: 30px;
}

.departments{
    /* background-color: blue; */
    padding: 0px;
}

.departmentsContainer{
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0% 10%;
    color: var(--color-text);
}

.departmentsContainer a{
    color: var(--color-text);
    text-decoration: none;
}

.kama{
    /* background-color: brown; */
    border-radius: 10px;
    display: flex;
    width: calc(33.33% - 10px);
    margin: 20px 0px;
}

.kama:hover{
    box-shadow: 10px black;
    border: 1px solid var(--color-text);
}

.kama img{
    height: 100px;
    border-radius: 50%;
    margin: 10%;
    /* background-color: blue; */
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
    margin-bottom: 20px;
    width: 100%;
    margin-bottom: 0px;
}

.description h3{
    /* background-color: blue; */
    margin-bottom: 10px;
}

.description p{
    /* background-color: red; */
    padding: 10px 0px;
}

.kamaLine{
    margin-left: 0%;
    width: 80%;
}


@media screen and (max-width: 830px){

    /* .container{
        background-color: red;
    } */

    .departments{
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .departmentsContainer{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        margin: 0% 3%;
    }

    .kama{
        /* background-color: red; */
        width: 100%;
        text-decoration: none;
        color: var(--color-text);
    }
    .kama:hover{
        background-color: #333333;
        transition: background-color 0.5s ease-in-out, color 2s ease-in-out;
        border: none;
        color: yellowgreen;
    }

    .kama img{
        margin: 2%;
    }

    .description{
        /* background-color: green; */
        padding: 5px;
        margin: 0px;
       
    }

   

  
    

}
