@import "../../vars.css";

.containerTop {
  /* background-color: gray; */
  display: flex;
  flex-direction: row;
}

.line {
  width: 50%;
  height: 0.2px;
  margin-top: 30px;
  color: var(--color-text);
}

.containerTop p {
  padding: 5px 20px;
  border: 1px solid #fff;
  white-space: nowrap;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: var(--color-text);
  margin: 15px 0px;
}

.contactContainer {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  color: var(--color-text);
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  margin: 40px 5%;
}

.contactForm {
  /* background-color: green; */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contactForm p {
  font-size: 20px;
  font-weight: 700;
  /* background-color: red; */
  text-align: center;
  padding: 35px 0px;
}

.contactForm ul {
  /* background-color: blue; */
  margin: 0px;
  width: 100%;
  padding: 20px;
}

.contactForm ul li {
  /* background-color: red; */
  list-style: none;
  padding: 10px;
  width: 70%;
}

.contactForm input {
  border: none;
  border-bottom: 1px solid var(--color-text);
  width: 100%;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  height: 25px;
  padding: 5px;
  font-size: 15px;
  background-color: transparent;
  outline: none;
  color: var(--color-text);
}

.contactForm textarea {
  border: none;
  width: 100%;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  height: 75px;
  padding: 5px;
  font-size: 15px;
  background-color: transparent;
  outline: none;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-text);
}

.contactForm input::placeholder,
.contactForm textarea::placeholder{
    color: #fff;
}

.contact {
  /* background-color: purple; */
  width: 50%;
  
}

.contactBtn {
  color: black;
  margin-left: 30%;
  margin-top: 2%;
  font: 11px;
  letter-spacing: 3px;
  border: 1px solid #fff;
  padding: 8px 10px;
}

.contactInfo{
    /* background-color: green; */
    padding: 20px 0px;
}

.address{
    /* background-color: aqua; */
    margin: 0px;
    width: 100%;
}

.address p{
    /* text-align: center; */
    margin-left: 10%;
    /* background-color: orange; */
    font-size: 25px;
    padding: 10px 0px;
    
}

.eyeContact{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

/* .socials{
    background-color: blue;
} */

.socials h3{
    text-align: center;
    padding: 15px 0px;
    /* background-color: red; */
    margin-bottom: 30px;
}

.icon{
    /* background-color: purple; */
    margin-right: 2%;
    height: 20px;
}

.socialIcons{
    display: flex;
    flex-direction: row;
    /* background-color: orangered; */
    align-items: center;
    justify-content: center;
}

.socialIcons img{
    height: 30px;
    padding: 0px 10px;
}

@media screen and (max-width: 830px) {

  /* .container{
    background-color: red;
  } */

  /* .containerTop{
    background-color: red;
  } */

    .contactContainer{
        display: flex;
        flex-direction: column;
        /* background-color: yellow; */
        margin: 0px;
        align-items: center;
        justify-content: center;
    }

    .contactForm{
        /* background-color: red; */
        width: 100%;
    }

    .contact{
        /* background-color: green; */
        width: 100%;
        margin: 0px;
    }

    .contactInfo{
      /* background-color: yellow; */
      margin: 5px;
    }

    .address{
      /* background-color: red; */
      width: 100%;
      padding: 0px;
      margin: 0px;
    }

    .address p{
      background-color: blue;
      margin: 0% 2%;
      font-size: 18px;
    }

    /* .eyeContact{
      background-color: orange;
    } */

    /* .socials{
      background-color: purple;
    } */

}
