@import '../../vars.css';

.container{
    /* background-color: green; */
    margin-top: 3%;
    font-size: 14px;
    color: var(--color-text);
}

.aboutChurch{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutChurch p{
    padding: 4px;
}



@media screen and (max-width: 830px) {
    
    .aboutChurch{
        display: flex;
        flex-direction: column;
        /* background-color: darkorange; */
    }

    .aboutChurch p{
        /* background-color: gray; */
        padding: 3px 0px;
        margin: 2px;
        
    }




}