@import '../../vars.css';

.container{
    /* background-color: green; */
    margin-top: 3%;
}

.line{
    width: 100%;
    color: var(--color-text);
    height: 0.5px;

}

.bottomFooter{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    color: var(--color-text);
    font-size: "Roboto" Arial, sans-serif;
    padding: 2px 5px;
}

.rights{
    /* background-color: yellow; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.rights p{
    /* background-color: green; */
    margin: 2px 5px;
    padding: 0% 5%;
    display: flex;
    flex-direction: row;
}
.rights a{
    color: var(--color-text);
}

.copyright{
    /* background-color: black; */
    padding: 0px 5px;
    
}

.terms{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    color: var(--color-text);
}
.terms a{
    padding: 0% 10%;
    color: var(--color-text);
    /* background-color: green; */
}

@media screen and (max-width: 830px) {
    .bottomFooter{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
    }

    .rights{
        /* background-color: red; */
        width: 100%;
        margin: 0px;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
    }

    /* .rights p{
        background-color: yellow;
    } */

    .terms{
        /* background-color: yellow; */
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
    }

    .terms a{
        /* background-color: yellow; */
        width: 100%;
    }

}